<a href="https://colab.research.google.com/github/trentgooden/DataAnalyticsClub/blob/main/DAC_Python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#The hashtag is a comment and will be ignored by the interpreter
#This is Google Colab, an excutable document that lets you write, run and share code
#There are many IDEs (Integrated Development Environment) you can use to write Python (Visual Studio Code, PyCharm, IDLE, many others)
#We will use Colab because it runs inside of your browser and requires no configuraton on your individual computer

# A Great Resource - https://automatetheboringstuff.com/

In [ ]:
#This is a 'Code' Cell

**This is a text Cell**

In [ ]:
#Let's start by printing something to the screen
print ('What time is the Data Analytics Club Meeting Tonight?')
#Run this cell by clicking play to the left or Shift + Enter on keyboard

In [ ]:
#Let's create a variable, collect some input and write it back out

major = input ('Please enter your major: ')
print ('Hi, your major is ' + major + '.')

In [ ]:
#We can do basic arithmetic
3+3

In [47]:
#We can add using variables
#In this case, a, b and c are all variables

a = 6
b = 4
c = a + b

#print('Variable C is:' + c + '.')   #oops, an error

c = str(c)

print('Variable C is: ' + c + '.')

Variable C is: 10.

In [50]:
#Data Types
#integers ......6,3,10
#floats.....5.2, 4.76543
#strings.......'Sample String'
#There are others but we will start with these

a = 6
b = 4
c = a + b
d = 'Placeholder'
e = 5.03

#type(e)

print ('Variable A is: ' + str(type(a)))
print ('Variable B is: ' + str(type(b)))
print ('Variable C is: ' + str(type(c)))
print ('Variable D is: ' + str(type(d)))
print ('Variable E is: ' + str(type(e)))

Variable A is: <class 'int'>
Variable B is: <class 'int'>
Variable C is: <class 'int'>
Variable D is: <class 'str'>
Variable E is: <class 'float'>

In [51]:
#What happens if I add two strings?
a = 'Bidgood'
b = 'Hall'
c = a + b
print(c)

BidgoodHall

In [52]:
#What about a space?
a = 'Bidgood'
b = 'Hall'
c = a + ' ' + b
print(c)

Bidgood Hall

In [19]:
#Variable Names
#There are several rules in Python for Variable Names
#Each programming language has defined rules for variable names

#Must start with a letter or the underscore character
#Cannot start with a number
#Can only contain alpha-numeric characters and underscores
#Variables are case sensitive (address, Address and ADDRESS are three different variables in Python)
#Keywords cannot be used as variable names (print, str)

In [55]:
#Python has many, many functions
#A function is a block of code that only runs when called
#Generally, you pass data to a function and get data back
#You don't have to write them yourself!

a = 'Alston'
b = 'Hall'

len(a)
#len(b)

6

In [56]:
#Does it count a space as a character?
a = 'Alston '

len(a)

7

In [ ]:
#Here we will use the 'len' function to tell us the length of a string variable

a = 'Alston'
b = 'Hall'
print('The length of a is: ' + len(a)) #oops, but we've seen this before

In [58]:
#One way to resolve the error
a = 'Alston'
b = 'Hall'

print('The length of a is: ' + str(len(a)))
print('The length of b is: ' + str(len(b)))

The length of a is: 6
The length of b is: 4

In [ ]:
#What about dirty data?

a = '   The Quad   '
b = 'University Blvd   '

#I don't use the word ALWAYS often, but ALWAYS, ALWAYS, ALWAYS trim/strip spaces from your variables, even if you don't see any when looking at them

#Python has a few functions we could use here, strip lstrip, rstrip

#https://docs.python.org/3/library/stdtypes.html?highlight=strip#str.strip
#https://docs.python.org/3/library/stdtypes.html?highlight=strip#str.rstrip
#https://docs.python.org/3/library/stdtypes.html?highlight=strip#str.lstrip

new_a = a.strip()
new_b = b.strip()

print('The length of a is: ' + str(len(a)))
print('The length of new_a is: ' + str(len(new_a)))
print('The length of b is: ' + str(len(b)))
print('The length of new_b is: ' + str(len(b)))

#What is the issue with the last line of code?  Am I getting what I intended?

In [30]:
#The Boolean Data Type
#Unlike strings, integers and floats, boolean data types only have two values True and False
#In Python, the True must have a capital T and lowercase rue, likewise False must have a capital F and lowercase alse

received = True
type(received)

bool

In [ ]:
received = True
received = false

In [ ]:
#Operators in Python
# == Equal to_filter
# != Not equal to
# < Less than
# > Greater than
# <= Less than or equal to
# >= Greater than or equal to

42 == 42

In [ ]:
43 == 109

In [ ]:
2 != 3

In [38]:
8 != 8

False

In [40]:
#An important distinction

# == checks to see if two values are equal

# = assigns the value on the right side of the equals sign to the variable on the left

#We can also use and/or logic with our boolean operators

(1==1) or (2==3)

True

In [41]:
(4 < 10) and (10 < 3)

False